<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NOnkyo.WpfGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="NOnkyo.ISCP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <NOnkyo.WpfGui.Properties.Settings>
      <setting name="DeviceSearchLoop" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DevicePort" serializeAs="String">
        <value>60128</value>
      </setting>
    </NOnkyo.WpfGui.Properties.Settings>
    <NOnkyo.ISCP.Properties.Settings>
      <setting name="ISCP_Version" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ISCP_EndCharacter" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>CR</string>
            <string>LF</string>
            <string>EOF</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ISCP_HeaderSize" serializeAs="String">
        <value>16</value>
      </setting>
    </NOnkyo.ISCP.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="System" />
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
